<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head'); %>
    <div class="row">
        <div class="col-12 text-center mt-5">
            <br>
            <div class="card custom-card border-0">
                <div class="card-body">
                    <h5 class="card-title">Add Exercise</h5>
                    <form id="exerciseForm" class="row">
                        <div class="col-sm-3 mb-2">
                            <label for="exercise">Exercise</label>
                            <textarea class="form-control" id="exercise" required></textarea>
                        </div>
                        <div class="col-sm-3 mb-2">
                            <label for="source">Source</label>
                            <input type="text" class="form-control" id="source" required>
                        </div>
                        <div class="col-sm-2 mb-2">
                            <label for="type">Type</label>
                            <input type="text" class="form-control" id="type" required>
                        </div>
                        <div class="col-sm-2 mb-2">
                            <label for="options">Options</label>
                            <input type="text" class="form-control" id="options">
                        </div>
                        <div class="col-sm-2 mb-2">
                            <label for="exercise">Solution</label>
                            <textarea class="form-control" id="solution" required></textarea>
                        </div>
                        <div class="col-sm-12 text-center"> <!-- Ensure the button stays centered -->
                            <button type="submit" class="btn btn-sm send-btn">Add Exercise</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center mt-5">
            <br>
            <h5>Exercises</h5>
            <% if(exercises != null) { %>
            <div id="cardContainer" class="row">
                
                <% for (let i = 0; i < exercises.length; i++) { %>
                <div class="col-12 mb-4">
                    <div class="card custom-card">
                        <div class="card-body">
                            <input hidden value="<%= exercises[i].id %>"/>
                            <label style="display: block;"><%= exercises[i].typeExercise %></label>
                            <input type="checkbox" name="cardSelection" <% if (exercises[i].isDone) { %>checked<% } %> >
                            <label for="cardSelection">Done</label>
                            <p><%= exercises[i].exercise.substring(0, 20) + (exercises[i].exercise.length > 20 ? '...' : '') %></p>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
            <% } %> 
            <div class="col-sm-12 text-center"> <!-- Ensure the button stays centered -->
                <button id="sendDoneExercises" class="btn btn-sm send-btn">Update Done</button>
            </div>

        </div>
    </div>

    <%- include('../partials/footer'); %>
    <script src="js/admin.js"></script>
</body>
</html>